/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
$bp: 700px;
$bp-wide: 1000px;
:root {
  --c-border: #212121;
  --c-border--btn: #ccc;
}

/* -----------------------------------------------------------------------------
 * Extends
 * -------------------------------------------------------------------------- */
%label {
  display: block;
  padding: 4px 0;
  font-weight: bold;
  line-height: 1;
}

/* -----------------------------------------------------------------------------
 * Foundation
 * -------------------------------------------------------------------------- */
* {
  all: unset;
  outline: revert;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select, textarea, a, details {
  all: revert;
  box-sizing: border-box;
}

head, script, style {
  display: none;
}

div, main, footer, h1, p, summary, ul, ol, li {
  display: block;
}

summary {
  outline: revert;
}

a {
  color: inherit;
}

/* -----------------------------------------------------------------------------
 * Base
 * -------------------------------------------------------------------------- */
body:not(:root) {
  padding: 60px 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #eee;
  background: #3c3b42;
}

/* -----------------------------------------------------------------------------
 * Layout
 * -------------------------------------------------------------------------- */
.l-main {
  h1 {
    margin: 0 0 10px;
    font-weight: bold;
  }

  &__preview {
    min-width: 300px;

    h1 {
      text-align: center;
    }
  }

  &__form {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
  }
}

.l-footer {
  padding: 40px 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #ccc;
}

@media screen and (min-width: $bp) {
  .l-main {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;

    &__preview {
      position: sticky;
      top: 10px;
      padding: 0 6vw 50px 0;
    }

    &__form {
      text-align: left;
      padding-bottom: 140px;
      max-width: 50vw;
      min-width: 50vw;
    }
  }
}

@media screen and (min-width: $bp-wide) {
  .l-main {
    &__preview {
      max-width: calc(100% - 500px);
      padding-right: 60px;
    }

    &__form {
      max-width: 500px;
      min-width: 500px;
    }
  }
}

/* -----------------------------------------------------------------------------
 * Component
 * -------------------------------------------------------------------------- */
.c-btn {
  display: inline-block;
  padding: 6px 10px 4px;
  text-decoration: none;
  border: 1px solid var(--c-border--btn);
  border-radius: 4px;
}

/* -----------------------------------------------------------------------------
 * Project
 * -------------------------------------------------------------------------- */
.p-form-desc {
  margin: 0 0 40px;
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
  border: 1px solid var(--c-border--btn);
  border-radius: 4px;

  &__title {
    padding: 12px 16px;
    cursor: pointer;
    text-align: center;

    + p {
      margin-top: 10px;
    }
  }

  &__content {
    padding: 4px 16px 16px;
  }

  ul {
    padding: 0 10px;
    margin: .75em 0;
    display: block;
  }

  li {
    display: list-item;
    list-style: disc;
    list-style-position: inside;
  }
}

.p-layer-control {
  margin: 0 0 22px;

  &__title {
    @extend %label;
  }

  &__list {
    margin: 9px 0;
    padding: 2px 10px;
    max-height: 30vh;
    min-height: 80px;
    font-size: 14px;
    overflow: auto;
    border: 2px solid var(--c-border);
    border-radius: 4px;
  }

  &__listitem {
    padding: 10px 0;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      padding-top: 10px;
      border-top: 1px solid var(--c-border);
    }
  }

  &__name {
    padding: 0 10px;
    flex-grow: 1;
    line-height: 1;
  }

  &__layername,
  &__filename {
    display: block;
  }

  &__layername {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__filename {
    padding: 7px 0 0;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__opacity {
    width: 100px;
    display: block;
  }

  &__thumb {
    display: block;
    width: 36px;
    height: 36px;
    background: #ccc;
    border: 1px solid #333;
  }

  &__btnwrap {
    padding: 0 0 0 10px;
  }

  &__btn {
    padding: 2px 4px 3px;
    min-width: 60px;
    text-align: center;
    border: 1px solid var(--c-border--btn);
    border-radius: 4px;
  }
}

.p-form-control {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--c-border);

  label {
    @extend %label;
  }

  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 4px;
    margin: .5em 0;
    font-size: 18px;
    color: #e1e0e1;
    background: #1f1e1f;
    border: 2px solid #1f1e1f;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }
}

.p-reset {
  text-align: right;
  margin-top: 40px;
}

/* -----------------------------------------------------------------------------
 * Unique
 * -------------------------------------------------------------------------- */
#time {
  text-align: center;
  margin: 0 0 40px;
}

#clock {
  position: relative;
  display: inline-block;
  margin: 0 auto 26px;
  overflow: hidden;
  background: transparent center center / cover no-repeat;

  .p-clock__item {
    max-width: 100%;
    height: auto;
    display: block;

    &:not(#base) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#f-url,
#f-css {
  font-size: 10px;
  line-height: 2;
}

#f-css {
  word-break: break-all;
}
