<%
  const FILE_LIST = [
    'base',
    'hr',
    'min',
    'sec',
  ];
  const NAME_LIST = [
    '文字盤',
    '短針',
    '長針',
    '秒針',
  ];
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>OBS Analog Clock - heppokofrontend</title>
    <meta name="description" content="Put down an analog clock on OBS">
  </head>
  <body>
    <main class="l-main">
      <div class="l-main__form">
        <details class="p-form-desc">
          <summary class="p-form-desc__title">🔰 HOW TO USE 🔰</summary>
          <div class="p-form-desc__content">
            <p>次の5種類の画像を好きな画像で上書きしてください。</p>
            <p>これらの画像はすべて正方形で書き出してください。</p>
            <ul>
              <li>./clock/base.png</li>
              <li>./clock/bg.png</li>
              <li>./clock/hr.png</li>
              <li>./clock/min.png</li>
              <li>./clock/sec.png</li>
            </ul>
            <p>各種パラメタを変更すると「OBS - URL」の値が変わります。</p>
            <p>調整後、次の2つの値をOBSのブラウザソースのプロパティに設定してください。</p>
            <ul>
              <li>OBS - URL</li>
              <li>OBS - 幅・高さ</li>
              <li>OBS - カスタムCSS</li>
            </ul>
            <p>※ このページは画面幅1920px以上のモニタでの全画面表示のみ対応しています。</p>
          </div>
        </details>

        <div class="p-layer-control" role="group" aria-labelledby="l">
          <div class="p-layer-control__header">
            <p class="p-layer-control__title" id="l">Layer order</p>
            <details
              class="p-layer-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-layer-control__help-img">
              </summary>

              <div class="p-layer-control__help-tooltip">
                <p>レイヤーの透明度、順序を設定します。</p>
                <p>使わないパーツがあればここで非表示にできます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>秒針 → 長針 → 短針 → 文字盤</span>
                </p>
              </div>
            </details>
          </div>

          <ol class="p-layer-control__list" id="layer-order">
            <%- FILE_LIST.map((filename, i) => `
              <li class="p-layer-control__listitem js-layer" data-id="${filename}">
                <span class="p-layer-control__thumbwrap">
                  <img src="./clock/${filename}.png" alt="" class="p-layer-control__thumb">
                </span>
                <span class="p-layer-control__name">
                  <span class="p-layer-control__layername">${NAME_LIST[i]}</span>
                  <span class="p-layer-control__filename">./clock/${filename}.png</span>
                </span>
                <span class="p-layer-control__adjuster">
                  <input
                    type="range"
                    class="p-layer-control__opacity"
                    id="f-opacity-${filename}"
                    title="${NAME_LIST[i]}の不透明度"
                    min="0"
                    max="100"
                    step="1"
                  >
                </span>
                <span class="p-layer-control__btnwrap">
                  <button
                    type="button"
                    class="p-layer-control__btn js-btn-layer"
                    data-move="up"
                  >Up</button>
                </span>
                <span class="p-layer-control__btnwrap">
                  <button
                    type="button"
                    class="p-layer-control__btn js-btn-layer"
                    data-move="down"
                  >Down</button>
                </span>
              </li>
            `).reverse().join(''); %>
          </ol>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-bg">Background</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>背景画像の表示を切り替えます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: ON</span>
                </p>
              </div>
            </details>
          </div>
          <p>
            <select id="f-bg">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-scale">Scale（％）</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>背景画像に対する文字盤の描画サイズを入力します。</p>
                <p>文字盤の外側をOBS上で調整する場合は100%で問題ありません。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>100</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-scale" min="0" max="100" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-move-x">Move X</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>文字盤をX軸方向に移動させます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>0</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-move-x" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-move-y">Move Y</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>文字盤をY軸方向に移動させます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>0</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-move-y" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-rotate-x">Rotate X</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>X軸（水平）を基準に文字盤を回転させます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>0</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-rotate-x" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-rotate-y">Rotate Y</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>Y軸（垂直）を基準に文字盤を回転させます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>0</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-rotate-y" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-rotate-z">Rotate Z</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>文字盤を傾けます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>0</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-rotate-z" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-transition-sec">Transition - 秒針</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>秒針のアニメーションをスムーズにします。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>OFF</span>
                </p>
              </div>
            </details>
          </div>
          <p>
            <select id="f-transition-sec">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-transition-min">Transition - 長針</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>長針の位置の計算に秒数とミリ秒を含めます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>ON</span>
                </p>
              </div>
            </details>
          </div>
          <p>
            <select id="f-transition-min">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-transition-hr">Transition - 短針</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>短針の位置の計算に分を含めます。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>ON</span>
                </p>
              </div>
            </details>
          </div>
          <p>
            <select id="f-transition-hr">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>
      </div>

      <div class="l-main__preview">
        <h1>OBS Analog Clock</h1>

        <p id="time"></p>

        <div id="clock" class="p-clock" style="background-image: url(./clock/bg.png);">
          <img src="./clock/bg.png" alt="" id="bg">
          <div class="p-clock__inner">
            <%- FILE_LIST.map(filename => `
              <img
                alt=""
                class="p-clock__item"
                id="${filename}"
                src="./clock/${filename}.png"
              />
            `).join(''); %>
          </div>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-diff">UTCとの時差</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>UTCとは協定世界時のことで、世界の基準となっている時刻です。</p>
                <p>UTCとの時差がわかれば、世界の現地時間を求めることができます。</p>
                <p>日本の時差は＋9時間です。</p>
                <p class="p-form-control__help-more">
                  <a
                    href="https://www.google.com/search?q=utc+time+difference"
                    target="_blank"
                  >
                    What is the time difference from UTC?
                  </a>
                </p>
              </div>
            </details>
          </div>
          <p><input id="f-diff" type="number" min="-24" max="24" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-url">OBS - URL <strong>読み取り専用</strong></label>
          </div>
          <p><input id="f-url" class="js-copy" readonly /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-size">OBS - 幅・高さ</label>
            <details
              class="p-form-control__help"
            >
              <summary>
                <img src="./help.svg" alt="Hint" width="16" height="16" class="p-form-control__help-img">
              </summary>

              <div class="p-form-control__help-tooltip">
                <p>時計の描画サイズを入力します。</p>
                <p>OBSに読み込ませるときの「幅」と「高さ」にはこの値を設定します。</p>
                <p>最小サイズは100px、最大サイズは1200pxです。</p>
                <p class="p-layer-control__help-default">
                  <span>Default: </span>
                  <span>素材画像の横幅</span>
                </p>
              </div>
            </details>
          </div>
          <p><input type="number" id="f-size" min="100" max="1200" /></p>
        </div>

        <div class="p-form-control">
          <div class="p-form-control__title">
            <label for="f-css">OBS - カスタム CSS <strong>読み取り専用</strong></label>
          </div>
          <p><textarea id="f-css" class="js-copy" readonly></textarea></p>
        </div>

        <p class="p-reset"><a href="./index.html" class="c-btn" onclick="alert('誤ってクリックした場合は、ブラウザバックで直前の状態に戻ることができます。')">初期化 - RESET</a></p>
      </div>
    </main>

    <footer class="l-footer">
      <p>
        <a href="https://github.com/heppokofrontend/obs-analog-clock">GitHub</a> -
        <small>© <a href="https://heppokofrontend.dev/">heppokofrontend</a></small>
      </p>
    </footer>
  </body>
</html>
