<%
  const FILE_LIST = [
    'base',
    'hr',
    'min',
    'sec',
  ];
  const NAME_LIST = [
    '文字盤',
    '短針',
    '長針',
    '秒針',
  ];
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>OBS Analog Clock - heppokofrontend</title>
    <meta name="description" content="Put down an analog clock on OBS">
  </head>
  <body>
    <main class="l-main">
      <div class="l-main__form">
        <details class="p-form-desc">
          <summary class="p-form-desc__title">🔰 HOW TO USE 🔰</summary>
          <div class="p-form-desc__content">
            <p>次の5種類の画像を好きな画像で上書きしてください。</p>
            <p>これらの画像はすべて正方形を想定しています。</p>
            <p>表示したくない場合は、透明な画像で上書きします。</p>
            <ul>
              <li>./clock/base.png</li>
              <li>./clock/bg.png</li>
              <li>./clock/hr.png</li>
              <li>./clock/min.png</li>
              <li>./clock/sec.png</li>
            </ul>
            <p>各種パラメタを変更してEnterキーを押下すると「OBS - URL」の値が変わります。</p>
            <p>調整後、次の2つの値をOBSのブラウザソースのプロパティに設定してください。</p>

            <ul>
              <li>OBS - URL</li>
              <li>OBS - カスタムCSS</li>
            </ul>

            <p>角度がついている時計などを設置したいときは、文字盤と針だけ正面位置で書き出し後、背景に合わせてRotateとScaleを調整してみてください🥒</p>
          </div>
        </details>

        <div class="p-layer-control" role="group" aria-labelledby="l">
          <p class="p-layer-control__title" id="l">Layer order</p>

          <ol class="p-layer-control__list" id="layer-order">
            <%- FILE_LIST.map((filename, i) => `
              <li class="p-layer-control__listitem">
                <span class="p-layer-control__thumbwrap">
                  <img src="./clock/${filename}.png" alt="" class="p-layer-control__thumb">
                </span>
                <span class="p-layer-control__name">
                  <span class="p-layer-control__layername">${NAME_LIST[i]}</span>
                  <span class="p-layer-control__filename">./clock/${filename}.png</span>
                </span>
                <span class="p-layer-control__adjuster">
                  <input
                    type="range"
                    class="p-layer-control__opacity"
                    data-id="${filename}"
                    min="0"
                    max="100"
                    step="1"
                  >
                </span>
                <span class="p-layer-control__btnwrap">
                  <button type="button" class="p-layer-control__btn">Up</button>
                </span>
                <span class="p-layer-control__btnwrap">
                  <button type="button" class="p-layer-control__btn">Down</button>
                </span>
              </li>
            `).reverse().join(''); %>
          </ol>
        </div>

        <div class="p-form-control">
          <p><label for="f-size">Width & Height</label></p>
          <p><input type="number" id="f-size" min="100" max="1200" /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-scale">Scale（％）</label></p>
          <p><input type="number" id="f-scale" min="0" max="100" /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-rotate-x">Rotate X</label></p>
          <p><input type="number" id="f-rotate-x" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-rotate-y">Rotate Y</label></p>
          <p><input type="number" id="f-rotate-y" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-rotate-z">Rotate Z</label></p>
          <p><input type="number" id="f-rotate-z" min="-360" max="360" /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-transition-sec">Transition - 秒針</label></p>
          <p>
            <select id="f-transition-sec">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <p><label for="f-transition-min">Transition - 長針</label></p>
          <p>
            <select id="f-transition-min">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <p><label for="f-transition-hr">Transition - 短針</label></p>
          <p>
            <select id="f-transition-hr">
              <option value="off">OFF</option>
              <option value="on">ON</option>
            </select>
          </p>
        </div>

        <div class="p-form-control">
          <p><label for="f-diff"><a href="https://www.google.com/search?q=utc+time+difference" target="_blank">UTCとの時差</a>（時間）</label></p>
          <p><input id="f-diff" type="number" min="-24" max="24" /></p>
        </div>
      </div>

      <div class="l-main__preview">
        <h1>OBS Analog Clock</h1>

        <p id="time"></p>

        <div id="clock" class="p-clock" style="background-image: url(./clock/bg.png);">
          <div class="p-clock__inner">
            <%- FILE_LIST.map(filename => `
              <img
                alt=""
                class="p-clock__item"
                id="${filename}"
                src="./clock/${filename}.png"
              />
            `).join(''); %>
          </div>
        </div>

        <div class="p-form-control">
          <p><label for="f-url">OBS - URL</label></p>
          <p><input id="f-url" class="js-copy" readonly /></p>
        </div>

        <div class="p-form-control">
          <p><label for="f-css">OBS - カスタム CSS</label></p>
          <p><textarea id="f-css" class="js-copy" readonly></textarea></p>
        </div>

        <p class="p-reset"><a href="./index.html" class="c-btn">初期化 - RESET</a></p>
      </div>
    </main>

    <footer class="l-footer">
      <p>
        <a href="https://github.com/heppokofrontend/obs-analog-clock">GitHub</a> -
        <small>© <a href="https://heppokofrontend.dev/">heppokofrontend</a></small>
      </p>
    </footer>
  </body>
</html>
